/**
    folha de estilo do professor.com
    @author 
*/

/* Layout >>>>>>>> */

/* Variaveis */
:root {
    --NudeRosado: #f2d6cf;
    --VinhoSuave: #7a3941;
    --BegeQuente: #f6e9e2;
    --DouradoClaro: #d4b483;
    --BrancoGelo: #faf9f7;
    --preto: #0000;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    font-family: "Bebas Neue", sans-serif;
}

.container {
    display: flex;
    margin: 0 auto;
    /* CENTRALIZAR O CONTAINER */
}

/* BOTÃO */
.btn {
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    background-color: #f2d6cf;
    padding: 5px 30px;
    color: #7a3941;
    border-radius: 25px;
    border: 1px solid var(--VinhoSuave);
    text-shadow:
        0px 2px 3px rgba(0, 0, 0, 0.10),
        0px 4px 6px rgba(43, 26, 26, 0.05);

}


/* FIM - LAYOUT */


/*Smartphone portrait*/
/* Cabeçalho */
header {
    height: 60px;
    background-color: rgb(242, 214, 207, 0.75);
}

.logo img {
    width: 128px;
    height: 128px;

}

#check {
    display: none;
}

label {
    font-size: 3rem;
    color: rgba(122, 57, 65);
    position: fixed;
    top: -10px;
    right: 30px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 35px;
    right: 0px;
    background-color: rgb(242, 214, 207, 0.50);
    width: 40%;
    right: -40%;
    /*AJUSTAR O WIDTH*/
    transition: all 0.5s;
    margin-top: 23px;


}

/* AÇÃO PARA A CAIXA CHECK */
/* QUANDO SELECIONADA, MUDAR UL */
#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--BegeQuente);
    text-align: right;

}

nav ul li a {
    text-decoration: none;
    color: var(--VinhoSuave);

}

/* PRINCIPAL DO SMARTHPHONE PORTRAIT */
main {
    height: 50vh;
    background: url(img/banner.png); 
    background-size: cover;
    background-position: center;

}

main .container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #7a3941;
    font-size: 25px;
    font-family: "Karla", sans-serif;
    letter-spacing: 0.2rem;
    text-shadow:
        0px 2px 3px rgba(0, 0, 0, 0.15),
        0px 4px 6px rgba(43, 26, 26, 0.15);

}

main h2 {
    color: #7a3941;
    font-weight: 800;
    font-size: 10px;
    text-shadow:
        0px 2px 3px rgba(0, 0, 0, 0.10),
        0px 4px 6px rgba(43, 26, 26, 0.3);


}

/* DESTAQUE */
#destaque {
    padding: 50px 10px;
    /* background: url(./img/fundo_elipse.jpg); */
    background-color: #f2d6cf;
    background-size: cover;
    background-position: center;
    background-size: 2000px;
}

#destaque .container {
    flex-direction: column;
}

#hero {
    text-align: center;
}

#hero img {
    width: 250px;
    height: 250px;
    margin-bottom: 2px;
}

.hero-text h2 {
    font-size: 1.6rem;
    color: var(--VinhoSuave);
    margin-bottom: 10px;
    font-family: "Bebas Neue";
    letter-spacing: 0.2rem;
}

.hero-text p {
    color: var(--VinhoSuave);
    font-family: "Karla";
}

.topic {
    display: flex;
    align-items: center;
}

.topic p {
    margin-left: 15px;
    color: var(--VinhoSuave);
    letter-spacing: 0.2rem;
    font-family: "Bebas Neue";
}



/*FIM DO SMARTPHONE PORTRAIT */


/*SMARTPHONE LANDSCAPE*/
@media (min-width: 576px) {

    /* LAYOUT */
    .container {
        max-width: 540px;
    }

    /* CABEÇALHO */
    nav ul {
        width: 25%;
        right: -25%;

    }
}

/*FIM DO Smartphone lanscape*/


/*Tablet portrait*/
@media (min-width: 768px) {

    /* LAYOUT */
    .container {
        max-width: 720px;
    }

    /* PRINCIPAL */
    main h1 {
        font-size: 2.6rem;
    }

    main h2 {
        font-size: 1.1rem;
    }

    /* DESTAQUE */
    #destaque {
        padding: 50px 0px;
    }

    #destaque .container {
        flex-direction: row;
        align-items: center;
    }

    #hero {
        text-align: left;
    }

    #hero img {
        width: 200px;
        height: 200px;
        margin: 0px 25px 0px 0px;
    }

    .topic {
        display: none;
    }

}

/*fim Tablet portrait*/

/* Tablet landscape */
@media (min-width: 992px) {

    /* LAYOUT */
    .container {
        max-width: 960px;
    }

}

/* FIM Tablet landscape */


/*Smartphone lanscape*/


/*FIM Smartphone lanscape*/

/* Notebook / PC - HD */
@media (min-width: 1200px) {

    /* LAYOUT   */
    .container {
        justify-content: space-between;
        max-width: 1140px;
    }

    /* CABEÇALHO */
    header {
        height: 100px;
    }

    .logo img {
        width: 194px;
        height: 194px;

    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;

    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a:hover {
        color: var(--DouradoClaro)
    }

    main h1 {
        font-size: 4rem;
    }

    main h2 {
        font-size: 1.6rem;
    }

#destaque {
    background-attachment: fixed; /* EFEITO PARALLAX */
}

#hero img {
    width: 400px;
    height: 400px;
}

.hero-text h2{
    font-size: 2rem;
}

.topic {
    display: flex;
}
}


/* FIM Notebook / PC - HD */


/* Notebook / PV / TV - Full HD ou 4k */
@media (min-width: 1400px) {


    /* LAYOUT */
    .container {
        justify-content: space-between;
        max-width: 1320px;
    }

    main h1 {
        font-size: 6rem;
    }

    main h2 {
        font-size: 3rem;
    }

}


/*FIM  Notebook / PV / TV - Full HD ou 4k */