/**
    folha de estilo do professor.com
    @author 
*/

/* Layout >>>>>>>> */

/* Variaveis */
:root{
    --NudeRosado: #f2d6cf;
    --VinhoSuave: #7a3941;
    --BegeQuente: #f6e9e2;
    --DouradoClaro: #d4b483;
    --BrancoGelo: #faf9f7;
    --preto: #0000;
}

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
}

/* FIM - LAYOUT */


/*Smartphone portrait*/
/* Cabeçalho */
header{
    height: 60px;
    background-color: rgb(242, 214, 207, 0.75);
}

.logo img{
    width: 128px;
    height: 128px;
}

#check {
    display: none; 
}

label {
    font-size: 3rem;
    color: rgba(122, 57, 65);
    position: fixed;
    top: -10px;
    right: 30px;
}

nav ul {
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: rgb(242, 214, 207, 0.15);
    width: 40%;
    right: -40%; /*AJUSTAR O WIDTH*/
    transition: all 0.5s;

}

/* AÇÃO PARA A CAIXA CHECK */
/* QUANDO SELECIONADA, MUDAR UL */
#check:checked~ul{
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--BegeQuente); 
    text-align: right;
}

nav ul li a{
    text-decoration: none;
    color: var(--VinhoSuave);
}


/*FIM DO SMARTPHONE PORTRAIT */


/*SMARTPHONE LANDSCAPE*/
@media (min-width: 576px) {
    /* CABEÇALHO */
    nav ul{
    width: 25%;
    right: -25%;
    }
}
/*FIM DO Smartphone lanscape*/


/*Tablet portrait*/
@media (min-width: 768px) {


}
/*fim Tablet portrait*/

/* Tablet landscape */
@media (min-width: 992px) {


}
/* FIM Tablet landscape */


/*Smartphone lanscape*/

/*FIM Smartphone lanscape*/

/* Notebook / PC - HD */
@media (min-width: 1200px) {
    /* CABEÇALHO */
    header{
        height: 100px;
    }

    .logo img{
        width: 194px;
        height: 194px;
        
    }

    label {
        display: none;
    }

    nav ul{
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;

    }

    nav ul li{
        float: left;
        border: 0;
    }

    nav ul li a:hover{
        color: var(--DouradoClaro)
        
    }

}
/* FIM Notebook / PC - HD */


/* Notebook / PV / TV - Full HD ou 4k */
@media (min-width: 1400px) {

}
/*FIM  Notebook / PV / TV - Full HD ou 4k */